.messageSender{
    display: flex;
    /* align-items:center; */
    /* justify-content:center; */
    margin-top: 30px;
    margin-left:200px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    width: 100%;
    max-width: 1200px;
}

.messageSender__top{
    /* display: flex; */
    /* align-items:center; */
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.messageSender__top > form{
    /* flex: 1; */
    display: flex;
}

.messageSender__top > form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.messageSender__fileSelector{
    width:20%;
}

.messageSender__top > form > button{
    height: 0;
    width: 0;
    background-color: transparent;
    color: transparent;
    border:none;
    /* display:none; */
}
.messageSender__input{
    flex: 1;
}

.messageSender__bottom{
    display: flex;
    justify-content: space-evenly;
}

.messageSender__option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messageSender__option > h3{
    font-size: medium;
    margin-left: 10px;
}

.messageSender__option:hover{
    background-color: #eff2f5;
    border-radius: 20px;
}

.disappear{
    display:none;
}

.addIcon{
    display:flex;
    /* align-items: center; */
    padding: 10px;
    cursor: pointer;
}

/* .addIcon:hover{
    background-color: lightgray;
    border-radius: 10px;
} */

.addIcon>p{
    margin-left: 20px;
    font-weight: 600;
}

.addIcon>.MuiSvgIcon-root{
    font-size: xx-large;
    color: black;
}

/* .progressBar{
    height:5px;
    background: var(--primary);
    margin:20px;
} */