.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    max-width:900px;
}

.post__image > img{
    width: 100%;
    border-radius: 15px;
}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    /* background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    border-radius: 15px; */
}

.post__avatar{
    margin-right: 10px;
}

.post__topInfo > h3{
    font-size: medium;
    color: black;
    font-weight: bold;
}

.post__topInfo > h2{
    font-size: medium;
    color: black;
    font-weight: bold;
}

.post__topInfo > h1{
    /* font-size: medium; */
    display:flex;
    align-items:center;
    color: black;
    font-weight: bold;
}

.post__topInfo > p{
    font-size: small;
    color: gray;
    /* padding-bottom:10px; */
}

.post__bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
    color: black;

}

.post__options{
    padding: 15px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size : medium;
    color: black;
    cursor: pointer;
    
}

.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post__option > p{
    margin-left: 10px;
}

.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.post__option.ThumbUp :hover{
    color: blue;
}