.tnc{
    width: 100%;
    margin-top: 15px;
    /* margin-bottom:100px; */
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    max-width:900px;
}

.tnc__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    /* background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    border-radius: 15px; */
}


.tnc__topInfo > h1{
    display:flex;
    align-items:center;
    margin-top:15px;
    margin-left:15px;
    color: black;
    /* font-weight: bold; */
}

.tnc__topInfo > p{
    font-size: small;
    color: gray;
    
    /* padding-bottom:10px; */
}

.tnc__bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:15px;
    padding: 15px 25px;
    color: black;

}
.tnc__bottom{
    white-space: pre-wrap;
}